// "Save the date" palette: 
$sd-hue1: #f2f2ea;
$sd-hue2: #c3c1b9;
$sd-hue3: #cccccc;
$sd-hue4: #acacac;
$sd-hue5: #99968f;
$sd-hue6: #b4acac;
$sd-hue7: #747c74;
$sd-hue8: #7c7473;
$sd-hue9: #a9884d;
$sd-hue10: #444340;

// Photoshoot colour palette
$ps-hue1: #D3D1C4;
$ps-hue2: #C1C8C1;
$ps-hue3: #CA958E;
$ps-hue4: #985D40;
$ps-hue5: #6E6A36;
$ps-hue6: #6A6E49;
$ps-hue7: #726C4D;
$ps-hue8: #5E492A;
$ps-hue9: #464531;
$ps-hue10: #0E0F0A;

$gold-light: #d9c59c;
$gold-dark: #ac833b;

$main-light: $ps-hue1;
$main-dark: $ps-hue10;

// Original colours from previous webpage
// $olive-green: #57522A; // RGB: 87, 82, 42
// $light-brown: #B49281; // RGB: 180, 146, 129
// $beige-white: #EEDCCE; // RGB: 238, 220, 206
// $yellow-accent: #E7A721; // RGB: 231, 167, 33
// $slate-grey: #3C3B39; // RGB: 60, 59, 57

// Text colours
$txt-primary: $ps-hue10;
// body font
$txt-secondary: $ps-hue9;
// heading font
$txt-light: $ps-hue1;
// header/hero
$txt-accent: $ps-hue4;
$form-placeholder: $ps-hue8;
// form placeholder text
// Global colours
$accent-color: $gold-light;
$accent-shadow: $gold-dark;
$alt-accent-color: $ps-hue3;
$alt-accent-shadow: $ps-hue4;
// global accent colour
$accent-color-hover: $ps-hue3;
// global accent colour hover
$white-color: $sd-hue1;
$black-color: $ps-hue10;
// Typography colours
$h1-color: $ps-hue10;
$h2-color: $sd-hue10;
$h3-color: $ps-hue8;
$h3-color: $ps-hue3;
$h4-color: $ps-hue3;
$h5-color: $ps-hue6;
// Layout colours
$section-light: $sd-hue1;
$section-dark: $sd-hue6;
$to-top-bg: $ps-hue6;
$footer-primary: $ps-hue6;
$footer-secondary: $ps-hue4;
// Keylines
$keyline-color: $ps-hue2;
$footer-keyline-color: $ps-hue3;
